.themanh{
    width: 150px;
    height: 150px;
    border: 1px solid #f1f1f1;
    margin: 5px;
    display: inline-block;
    position: relative;
}
.anh{
    padding: 5px;
}
.xoa-anh{
    position: absolute;
    top: 5px;
    right: 5px;
}
.xoa-anh-web{
    position: absolute;
    top: 5px;
    right: 5px;
}
.error{
    padding: 5px 4px 5px 0px!important;
}
.ikon_xoa{
    position: absolute;
    top: 5px;
    right: 5px;
}
label{
    font-weight: bold;
    font-size: 13px;
    font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.gallery{
    margin-top: 5px;
    border: 1px solid #f1f1f1;
    min-height: 200px;
}

